<section id="pickupcomponent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-3 mt-2">
        <h4 class="main-label">Pick-up Location</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="city, airport, station, region and district..." (input)="onInputChange()" [(ngModel)]="inputValue">
        </div>

        <div *ngIf="canShowResults">
          <div *ngIf="result$ | async as result">
            <app-result-list [results]="result.results.docs" [searchValue]="inputValue"></app-result-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
