#pickupcomponent {
  background: #F3CE56;

  width:48%;

  .main-label {
    font-size: 0.875em;
    color:#444444;
  }

  @media screen and (max-width: 1099px) {
    width: 100%;
    margin: auto 0;
  }
}
