<div id="resultlist">
<ul class="list-group list-holder">
  <li class="list-group-item" *ngFor="let resultItem of results">
    <span *ngIf="resultItem.city" [innerHTML]="getTextFor(resultItem.city) + ','"></span>
    <span *ngIf="resultItem.country" [innerHTML]="getTextFor(resultItem.country) + ','"></span>
    <span *ngIf="resultItem.name" [innerHTML]="getTextFor(resultItem.name)"></span></li>
</ul>
</div>
